/* Spinner de carga */
#loading-screen {
  display: none;
  position: fixed;
  top:0; left:0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #D48ACB;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

/* Mantra abajo */
#mantra-display {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: #fff;
  text-align: center;
  pointer-events: none;
  z-index: 1000;
  display: none;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0% { opacity: 0.3; transform: scale(0.98); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0.3; transform: scale(0.98); }
}
